
.svg{
   margin: 0px auto;
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.textdata{
    font-size: 2em;
    text-transform: uppercase;
    animation: 10s infinite  alternate animatedStroke;
    

}
@keyframes animatedStroke{
    0%{
        fill: transparent;
        stroke: black;
        stroke-width: 2;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 31%;
    }
    50%{
        fill: transparent;
        stroke:black;
        stroke-width: 2;

    }
    80%,100%{
        fill: black;
        stroke:transparent;
        stroke-width: 2;
        stroke-dashoffset: -25%;
        stroke-dasharray: 31% 0; 
    }

}